{% extends '@Shu1Simulist/base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block body %}
    <h1>{{ project.name }}</h1>
    <!-- Table -->
    <table class="table">
        <thead>
        <th>done</th>
        <th>todo</th>
        <th>limit</th>
        <th>delete</th>
        </thead>
        <tbody>
        {% for list in lists %}
            <tr>
                <td>
                    <input type="checkbox" value="{{ list.id }}">
                </td>
                <td>{{ list.todo }}</td>
                <td>
                    {% if list.timeLimit is not empty %}
                        {{ list.timeLimit|date('Y-m-d H:i:s') }}
                    {% endif %}
                </td>
                <td>
                    <span class="glyphicon glyphicon-trash"></span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
