{% extends '@Shu1Simulist/base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block header_javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $(document).on('click', '.delete-task', function () {
                if (confirm('タスクを削除してもよろしいですか?')) {
                    var task_id = $(this).parent().parent().data('id'),
                            project_id = $('table.todo').data('project');
                    $.ajax({
                        url: "{{ path('project_delete') }}",
                        type: "POST",
                        data: {
                            "identify": project_id,
                            "id": task_id
                        },
                        success: function (data) {
                            $('#task_' + task_id).fadeOut(800);
                        },
                        error: function (data) {
                            console.log(data);
                        }
                    });
                }
            });
        });
    </script>

{% endblock %}

{% block body %}
    <h1>{{ project.name }}</h1>
    <!-- Table -->
    <table class="todo table" data-project="{{ project.identify }}">
        <thead>
        <th>done</th>
        <th>todo</th>
        <th>limit</th>
        <th>delete</th>
        </thead>
        <tbody>
        {% for list in lists %}
            <tr id="task_{{ list.id }}" data-id="{{ list.id }}">
                <td>
                    <input type="checkbox" value="{{ list.id }}">
                </td>
                <td>{{ list.todo }}</td>
                <td>
                    {% if list.timeLimit is not empty %}
                        {{ list.timeLimit|date('Y-m-d H:i:s') }}
                    {% endif %}
                </td>
                <td>
                    <button type="button" class="delete-task btn btn-link">Delete</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
