{% extends '@Shu1Simulist/base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block header_javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            // タスクの追加
            $('#input-task').focus();

            // タスクの完了
            $(document).on('click', '.done-task', function () {
                var task_id = $(this).parent().parent().data('id');
                var input = $(this);
                var status;
                if ($(this).hasClass('done')) {
                    // タスク完了の場合は未完了
                    status = 0;
                } else {
                    // タスク未完了の場合は完了
                    status = 1;
                }
                $.ajax({
                    url: "{{ path('project_done') }}",
                    type: "POST",
                    data: {
                        "id": task_id,
                        "status": status
                    },
                    success: function (data) {
                        if (input.hasClass('done')) {
                            input.removeClass('done');
                            $('tr#task_' + task_id).children('td:eq(1)').children().children().removeClass('text-muted').unwrap();
                        } else {
                            input.addClass('done');
                            $('tr#task_' + task_id).children('td:eq(1)').children().addClass('text-muted').wrap('<del />');
                        }
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            });

            // タスクの削除
            $(document).on('click', '.delete-task', function () {
                if (confirm('タスクを削除してもよろしいですか?')) {
                    var task_id = $(this).parent().parent().data('id'),
                            project_id = $('table.todo').data('project');
                    $.ajax({
                        url: "{{ path('project_delete') }}",
                        type: "POST",
                        data: {
                            "identify": project_id,
                            "id": task_id
                        },
                        success: function (data) {
                            $('#task_' + task_id).fadeOut(800);
                        },
                        error: function (data) {
                            console.log(data);
                        }
                    });
                }
            });
        });
    </script>

{% endblock %}

{% block body %}
    <h1>{{ project.name }}</h1>

    <!-- form -->
    <form class="form-horizontal" role="form" action="" method="post">
        <div class="col-md-10">
            <div class="form-group">
                <input type="text" class="form-control col-md-12" id="input-task" placeholder="タスクを入力してください">
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit" id="add-task" class="btn btn-primary">登録</button>
        </div>
    </form>

    <!-- Table -->
    <table class="todo table" data-project="{{ project.identify }}">
        <thead>
        <th>done</th>
        <th>todo</th>
        <th>limit</th>
        <th>delete</th>
        </thead>
        <tbody>
        {% for list in lists %}
            <tr id="task_{{ list.id }}" data-id="{{ list.id }}">
                <td>
                    {# status = 1 => done #}
                    {% if list.status == 1 %}
                        <input type="checkbox" class="done done-task" value="{{ list.id }}" checked>
                    {% else %}
                        <input type="checkbox" class="done-task" value="{{ list.id }}">
                    {% endif %}
                </td>
                <td>
                    {% if list.status == 1 %}
                        <del><span class="text-muted">{{ list.todo }}</span></del>
                    {% else %}
                        <span>{{ list.todo }}</span>
                    {% endif %}
                </td>
                <td>
                    {% if list.timeLimit is not empty %}
                        {{ list.timeLimit|date('Y-m-d H:i:s') }}
                    {% endif %}
                </td>
                <td>
                    <button type="button" class="delete-task btn btn-link">Delete</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
